<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Ingredient</title>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
<style>
input.ng-valid {
	background-color: lightgreen;
}

input.ng-dirty.ng-invalid-required,input.ng-dirty.ng-invalid-number {
	background-color: red;
}

input.ng-dirty.ng-invalid-min {
	background-color: yellow;
}


</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
</head>

<body>


	<script>
		/*<![CDATA[*/
		var app = angular.module('myApp', []);
		app.controller('addIngredientCtrl', function($scope, $http, $q) {
			console.log("Hit!");

			$scope.reset = function() {
				$scope.ingredient = {
					ingredient : '',
					amount : ''
				};
				
				$scope.updatedInventory = { ingredients: [] };
				
				$scope.duplicate = false;
				
				if (undefined != $scope.addIngredientForm) {
					$scope.addIngredientForm.$setPristine(); // reset Form
				}
			}
			
			$scope.reset();

			$scope.submit = function() {
				$scope.addIngredient();

				if ( !($scope.duplicate) ) {
					$scope.updateInventory();
				}
				
				$scope.reset();
			}
			
			$scope.getInventory = function() {
				console.log("getInventory...");
				$scope.currentInventory = [];
				$http.get("/api/v1/inventory").then(function(response) {
					for (let i = 0; i < response.data.ingredients.length; i++) {
						$scope.currentInventory.push( response.data.ingredients[i].ingredient );
					}
					console.log("currentInventory:");
					console.log( $scope.currentInventory );
				}, function(rejection) {
					console.error("Error while getting Inventory");
				})
			}
			
			$scope.getInventory();

			$scope.addIngredient = function() {
				$scope.success = false;
				$scope.failure = false;
				
				console.log("addIngredient...");
				console.log("currentInventory:");
				console.log($scope.currentInventory);
				console.log("this is when we would check if its in the list already");
				
				if ( $scope.currentInventory.includes( $scope.ingredient.ingredient ) ) {
					$scope.duplicate = true;
					console.log("duplicate you idiot");
					$scope.success = false;
					$scope.failure = true;
					console.error("Error while adding ingredient");
				} else {
					$scope.duplicate = false;
					console.log("youre safe for now");
					$scope.updatedInventory.ingredients.push( $scope.ingredient );
	
					$http.post("/api/v1/ingredients", $scope.ingredient).then(
							function(success) {
								$scope.success = true;
								$scope.failure = false;
							}, function(rejection) {
								$scope.success = false;
								$scope.failure = true;
								console.error("Error while adding ingredient");
							});
				}
			}
			
			$scope.updateInventory = function() {
				console.log("updateInventory...");
				console.log( $scope.updatedInventory );

				$http.put("/api/v1/inventory", $scope.updatedInventory).then(
						function(success) {
							$scope.success = true;
							$scope.failure = false;
						}, function(rejection) {
							$scope.failure = true;
							$scope.success = false;
							console.error("Error while updating Inventory!");
						});
				
				$scope.currentInventory.push( $scope.ingredient.ingredient );
				console.log("currentInventory:");
				console.log($scope.currentInventory);
			}
		});
		/*]]>*/
	</script>

	<div class="generic-container ng-cloak" ng-app="myApp"
		ng-controller="addIngredientCtrl as ctrl">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead">Add Ingredient Form</span>
			</div>
			<div class="formcontainer">
				<form ng-submit="submit()" name="addIngredientForm"
					class="form-horizontal">
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Name of Ingredient</label>
							<div class="col-md-7">
                                <input type="text" ng-model="ingredient.ingredient" name="ingredient"
									class="ingredient form-control input-sm"
									placeholder="Enter ingredient name" required="0"/>
                                    <div class="has-error" ng-show="addIngredientForm.$dirty">
                                         <span ng-show="addIngredientForm.ingredient.$error.required">This is a required field.</span>
                                         <span ng-show="addIngredientForm.ingredient.$error.min">Minimum amount is 0.</span>
                                         <span ng-show="addIngredientForm.ingredient.$invalid">This field is invalid.</span>
                                    </div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Initial Amount (in inventory)</label>
							<div class="col-md-7">
								<input type="number" ng-model="ingredient.amount" name="amount"
									class="amount form-control input-sm"
									placeholder="Enter initial amount of ingredient in inventory" required="0" min="0"/>
								<div class="has-error" ng-show="addIngredientForm.$dirty">
									<span ng-show="addIngredientForm.amount.$error.required">This
										is a required field.</span> <span
										ng-show="aaddIngredientForm.amount.$error.min">Minimum
										amount is 0.</span> <span ng-show="addIngredientForm.amount.$invalid">This
										field is invalid.</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-actions floatRight">
							<input type="submit" value="Add Ingredient"
								class="btn btn-primary btn-sm"
								ng-disabled="addIngredientForm.$invalid" />
							<button type="button" ng-click="reset()"
								class="btn btn-warning btn-sm"
								ng-disabled="addIngredientForm.$pristine">Reset Form</button>
						</div>
					</div>
				</form>
			</div>
			<div ng-show="success">Ingredient Successfully Updated</div>
			<div ng-show="failure">Error while updating ingredient.</div>
		</div>

		<a href="/index">Home</a>
	</div>



</body>
</html>