<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Recipe</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>

    <header>

        <a href="/index">
            <button>Home</button>
        </a>

        <h1>Coffee Maker</h1>

    </header>

    <main>

        <div class="ingrList">

            <h2>Ingredients</h2>

            <ul>
            
                <li>
                    Coffee <button>Delete</button>
                </li>
                <li>
                    Milk <button>Delete</button>
                </li>
                <li>
                    Sugar <button>Delete</button>
                </li>
                <li>
                    Chocolate <button>Delete</button>
                </li>
                <li>
                    Espresso <button>Add</button>
                </li>
                <li>
                    Caramel <button>Add</button>
                </li>
                <li>
                    Vanilla <button>Delete</button>
                </li>
                <li>
                    Cinnamon <button>Add</button>
                </li>
            </ul>

        </div>

        <div class="addRecipe">

            <h2>Add a Recipe</h2>

            <div class="fields">

                <label for="name-input">Name</label>
                <input id="name-input">

                <label for="price-input">Price</label>
                <input id="price-input">

                <label for="coffee-input">Coffee</label>
                <input id="coffee-input">

                <label for="milk-input">Milk</label>
                <input id="milk-input">

                <label for="sugar-input">Sugar</label>
                <input id="sugar-input">

                <label for="chocolate-input">Chocolate</label>
                <input id="chocolate-input">

            </div>

            <div class="buttons">

                <button>Submit</button>

                <button>Reset Form</button>

            </div>

        </div>

        <div class="addedIngrList">

            <h2>Additional Ingredients</h2>

            <label for="vanilla-ingr">Vanilla</label>
            <input id="vanilla-ingr">

        </div>

    </main>
    
</body>
</html>